@use "../common/variables.scss" as v;
@use "../mixins/media.scss" as m;

.about {
  @include m.desktop {
    padding-left: 50px;
  }
}

.about__wrapper {
  @include m.desktop {
    padding-left: 175px;
    padding-top: 70px;
  }
}

.about__title {
  margin-bottom: 14px;
}

.about__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 58px;

  @include m.tablet {
    display: grid;
    grid-template-columns: 260px 325px;
    grid-template-rows: repeat(3, auto);
    column-gap: 70px;

    @include m.desktop {
      column-gap: 90px;
      margin-bottom: 90px;
    }
  }
}

.about__item {
  padding-top: 83px;
  color: v.$color-title;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  background-repeat: no-repeat;
  background-position: left top 20px;

  @include m.tablet {
    font-size: 20px;
    line-height: 22px;
    padding-top: 110px;
  }

  &--material {
    background-image: url("../img/icons/flower.svg");
    grid-column: 1 / 2;
    grid-row: 1 / 1;

    @include m.desktop {
      padding-top: 80px;
      background-position: left 8px top 23px;
    }
  }

  &--price {
    background-image: url("../img/icons/price.svg");
    background-position: left top 30px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    @include m.desktop {
      background-position: left top 56px;
    }
  }

  &--likes {
    background-image: url("../img/icons/like.svg");
    background-position: left top 35px;
    grid-column: 1 / 2;
    grid-row: 3 / 4;

    @include m.desktop {
      background-position: left 8px top 62px;
    }
  }

  &--handmade {
    background-image: url("../img/icons/skein.svg");
    background-position: left top 32px;
    grid-column: 2 / -2;
    grid-row: 1 / 1;

    @include m.desktop {
      padding-top: 80px;
      background-position: left 3px top 27px;
    }
  }

  &--support {
    background-image: url("../img/icons/rocket.svg");
    background-position: left top 33px;
    grid-column: 2 / -2;
    grid-row: 2 / 3;

    @include m.desktop {
      background-position: left top 59px;
    }
  }

  &--packaging {
    background-image: url("../img/icons/present.svg");
    background-position: left 3px top 58px;
    grid-column: 2 / -2;
    grid-row: 3 / 4;
  }
}
