@use "../common/variables.scss" as v;
@use "../mixins/media.scss" as m;

.about__title {
  margin-bottom: 14px;
}

.about__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 58px;

  @include m.tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    column-gap: 70px;

    @include m.desktop {
      column-gap: 85px;
    }
  }
}

.about__item {
  padding-top: 83px;
  color: v.$color-title;
  font-size: 17px;
  font-weight: 700;
  background-repeat: no-repeat;
  background-position: left top 20px;

  &--material {
    background-image: url("../img/icons/flower.svg");
    grid-column: 1 / 2;
    grid-row: 1 / 1;
  }

  &--price {
    background-image: url("../img/icons/price.svg");
    background-position: left top 30px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  &--likes {
    background-image: url("../img/icons/like.svg");
    background-position: left top 35px;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  &--handmade {
    background-image: url("../img/icons/skein.svg");
    background-position: left top 32px;
    grid-column: 2 / -2;
    grid-row: 1 / 1;
  }

  &--support {
    background-image: url("../img/icons/rocket.svg");
    background-position: left top 33px;
    grid-column: 2 / -2;
    grid-row: 2 / 3;
  }

  &--packaging {
    background-image: url("../img/icons/present.svg");
    background-position: left top 32px;
    grid-column: 2 / -2;
    grid-row: 3 / 4;
  }
}
