@use "../common/variables.scss" as v;
@use "../mixins/media.scss" as m;

.address {
  background: url("../img/zigzag-mobile.svg") top repeat-x;

  @include m.tablet {
    background-image: url("../img/zigzag-tablet.svg");
    padding-top: 46px;
    padding-bottom: 57px;
  }

  @include m.desktop {
    background-image: url("../img/zigzag-desktop.svg");
    max-width: 1150px;
    margin: 0 auto;
    padding: 71px 50px 45px;
  }
}

.address__wrapper {
  padding: 38px 30px  60px;

  @include m.tablet {
    padding-left: 50px;
    padding-right: 50px;
  }

  @include m.desktop {
    padding-top: 25px;
    padding-left: 175px;
    padding-right: 0;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: auto 527px;
    grid-template-rows: minmax(min-content, 136px) auto;
  }
}

.address__title {
  margin-bottom: 28px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 47px;
    height: 81px;
    background-image: url("../img/flag.svg");
    background-repeat: no-repeat;

    @include m.desktop {
      left: -113px;
      top: 40%;
      transform: translateY(-50%);
    }
  }

  @include m.desktop {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin: 0;
    align-self: end;
  }
}

.address__list {
  display: flex;
  flex-direction: column;
  gap: 25px;

  @include m.tablet {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  @include m.desktop {
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    gap: 29px;
  }
}

.address__item {
  display: flex;
  gap: 10px;
  font-size: 14px;

  @include m.tablet {
    font-size: 17px;
    gap: 21px;
  }
}

.address__name {
  width: 56px;
}

.address__value {
  position: relative;
  display: flex;
  flex-direction: column;
  font-style: normal;
}

.address__link {
  position: relative;
  color: v.$color-text;
  text-decoration-color: v.$color-input-hover;
  text-underline-offset: 11px;
}

.address__map {
  margin-bottom: 42px;

  @include m.desktop {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    margin-bottom: 0;
  }
}

.address__button {
  margin: 0 30px;

  @include m.tablet {
    width: 230px;
    margin: 0 auto;
  }

  @include m.desktop {
    grid-row: 3 / 4;
    grid-column: 1 / 1;
    align-self: end;
    margin: 0;
  }
}
