@use "../common/variables.scss" as v;
@use "../mixins/media.scss" as m;

.address {
  padding-top: 38px;
  padding-bottom: 38px;
}

.address__title {
  margin-bottom: 28px;
}

.address__item {
  display: flex;
  gap: 10px;
  font-size: 14px;
}

.address__item + .address__item {
  margin-top: 25px;
}

.address__name {
  width: 56px;
}

.address__value {
  position: relative;
  display: flex;
  flex-direction: column;
  font-style: normal;
}

.address__link {
  position: relative;
  color: v.$color-text;
  text-decoration: none;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: v.$color-primary;
    bottom: 0;
    left: 0;
  }
}

