@use "../common/variables.scss" as v;
@use "../mixins/media.scss" as m;

.footer {
  background-color: v.$color-background;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include m.tablet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}


.footer__link {
  display: none;

  @include m.tablet {
    display: block;
  }
}

.footer__logo {
  color: v.$color-title;
}

.footer__socials-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 145px;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 30px;

  @include m.tablet {
    justify-self: center;
  }
}

.footer__social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: v.$color-title;
}

.footer__developer {
  padding-top: 22px;
  padding-bottom: 22px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 26px;
  border-top: 1px solid #e5e5e5;

  @include m.tablet {
    border: none;
    justify-self: flex-end;
  }
}

.footer__developer-icon {
  color: v.$color-primary;
}

.footer__developer-name {
  color: v.$color-title;
  font-size: 19px;
  font-weight: 700;
}

.footer__link:hover .footer__logo,
.footer__link:focus .footer__logo,
.footer__social-link:hover .footer__social-icon,
.footer__social-link:focus .footer__social-icon,
.footer__developer:hover .footer__logo,
.footer__developer:focus .footer__logo {
  color: #46c1ae;
}

.footer__link:focus .footer__logo,
.footer__social-link:active .footer__social-icon {
  opacity: 0.3;
}
