@use "../common/variables.scss" as v;
@use "../mixins/media.scss" as m;

.main-header {
  position: relative;
  min-height: 79px;
  padding-top: 22px;
  padding-bottom: 22px;
  border-bottom: 1px solid v.$color-border;
}

.main-header__logo {
  position: absolute;
  top: 22px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 86px;
  z-index: 3;

  &:hover,
  &:focus {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-header__toggle {
  position: absolute;
  border: none;
  width: 20px;
  height: 14px;
  top: 22px;
  right: 30px;
  background-image: url("../img/icons/menu.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  z-index: 10;
}
