@use "../common/variables.scss" as v;
@use "../mixins/media.scss" as m;

.nav-stock {
  display: none;

  @include m.desktop {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.nav-stock__link {
  font-size: 15px;
}
