@use "../common/variables.scss" as v;
@use "../mixins/media.scss" as m;

.popular {
  padding-top: 27px;
  padding-bottom: 36px;
  background: url("../img/zigzag-mobile.svg") bottom repeat-x;

  @include m.tablet {
    background-image: url("../img/zigzag-tablet.svg");
  }

  @include m.desktop {
    background-image: url("../img/zigzag-desktop.svg");
    padding-left: 50px;
  }
}

.popular__wrapper {
  @include m.desktop {
    display: grid;
    grid-template-columns: 100px 292px 525px;
    grid-template-rows: repeat(5, auto);
  }
}

.popular__title {
  grid-column: 2 / 4;
  grid-row: 1 / 2;

  @include m.desktop {
    margin-left: 47px;
  }
}

.popular__subtitle {
  color: v.$color-primary;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 17px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  text-align: center;

  @include m.desktop {
    margin-right: 43px;
  }
}

.popular__text {
  margin: 0;
  padding: 0;
  margin-bottom: 28px;

  @include m.desktop {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin-left: 47px;
  }
}

.popular__list {
  @include m.desktop {
    grid-row: 3 / 4;
    grid-column: 2  / 3;
    margin-left: 47px;
  }
}

.popular__characteristic {
  display: flex;
  border-bottom: 1px solid v.$color-border;
  column-gap: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.popular__name {
  max-width: 80px;
  flex-grow: 1;
}

.popular__value {
  margin: 0;
}

.popular__image-wrapper {
  @include m.tablet {
    grid-row: 1 / 6;
    grid-column: 3 / 4;
  }
}

.popular__img {
  width: 100%;
  margin-top: 27px;
  display: block;

  @include m.tablet {
    margin: 0;
  }
}

.popular__price {
  @include m.desktop {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
  }
}

.popular__link {
  width: 100%;

  @include m.desktop {
    grid-row: 5 / 6;
    grid-column: 2 / 3;
    align-self: end;
    margin-left: 47px;
  }
}
