@use "../common/variables.scss" as v;
@use "../mixins/media.scss" as m;

.popular {
  padding-top: 27px;
  padding-bottom: 36px;
  background: url("../img/zigzag-mobile.svg") bottom repeat-x;

  @include m.tablet {
    background-image: url("../img/zigzag-tablet.svg");
  }

  @include m.desktop {
    background-image: url("../img/zigzag-desktop.svg");
  }
}

.popular__wrapper {
  @include m.tablet {
    padding-left: 55px;
    padding-right: 55px;
    display: grid;
    grid-template-columns: auto 334px;
    grid-template-rows: repeat(5, auto);
    column-gap: 51px;
  }

  @include m.desktop {
    grid-template-columns: 110px 292px 525px;
    grid-template-rows: repeat(5, auto);
    column-gap: 59px;
  }
}

.popular__heading {
  display: flex;
  flex-direction: column;

  @include m.tablet {
    position: relative;
    z-index: 1;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
  }

  @include m.desktop {
    flex-direction: row-reverse;
    justify-content: flex-start;
    justify-self: start;
    gap: 43px;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
  }
}

.popular__title {

}

.popular__subtitle {
  color: v.$color-primary;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 17px;
  text-align: center;

  @include m.tablet {
    max-width: 75px;
  }

  @include m.desktop {
    margin-left: 9px;
  }
}

.popular__text {
  margin: 0;
  padding: 0;
  margin-bottom: 28px;

  @include m.tablet {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  @include m.desktop {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
}

.popular__list {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 20px;

  @include m.tablet {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }

  @include m.desktop {
    grid-row: 3 / 4;
    grid-column: 2  / 3;
  }
}

.popular__characteristic {
  display: flex;
  border-bottom: 1px solid v.$color-border;
  column-gap: 20px;
  padding-top: 5px;
  padding-bottom: 5px;

  @include m.tablet {
    padding-top: 7px;
    padding-bottom: 13px;
  }
}

.popular__name {
  max-width: 80px;
  flex-grow: 1;
}

.popular__value {
  margin: 0;
}

.popular__image-wrapper {
  @include m.tablet {
    grid-row: 2 / 6;
    grid-column: 2 / 3;
  }

  @include m.desktop {
    grid-row: 1 / 6;
    grid-column: 3 / 4;
  }
}

.popular__img {
  width: 100%;
  margin-top: 27px;
  display: block;

  @include m.tablet {
    margin: 0;
  }
}

.popular__price {
  @include m.tablet {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
  }

  @include m.desktop {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
  }
}

.popular__link {
  width: 100%;

  @include m.tablet {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
  }

  @include m.desktop {
    grid-row: 5 / 6;
    grid-column: 2 / 3;
    align-self: end;
  }
}
