@use "../common/variables.scss" as v;
@use "../mixins/media.scss" as m;

.review {
  padding-bottom: 45px;

  @include m.tablet {
    background-image: url("..//img/review-background.jpg");
    background-repeat: no-repeat;
  }

  @include m.desktop {
    padding-left: 50px;
  }
}

.review__wrapper {
  @include m.desktop {
    padding-left: 175px;
  }
}

.review__title {
  margin-bottom: 14px;
}
