@use "../mixins/media.scss" as m;
@use "../common/variables.scss" as v;

img {
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  margin: 0;
  height: 1px;
}

.page__body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &--index {
    font-size: 15px;
  }

  @include m.tablet {
    font-size: 17px;
    line-height: 30px;
  }
}

.page__main {
  flex: 1;
}

.container {
  min-width: v.$phone;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;

  @include m.tablet {
    min-width: v.$tablet;
    padding-left: 50px;
    padding-right: 50px;
  }

  @include m.desktop {
    min-width: v.$desktop;
    padding-left: 110px;
    padding-right: 110px;
  }
}
