// Ширина экрана
$desktop: 1150px;
$tablet: 768px;
$phone: 320px;

// Цвета

$color-primary: #61d1bb;
$color-secondary: #54c2b1;
$color-title: #000000;
$color-text: #444444;
$color-icon: #231f20;
$color-background: #f1f1f1;
$color-border: #ececec;
